header {
  position: fixed;
  display: flex;
  top: 0px;
  z-index: 10;
  width: 100vw;
  background-color: #fefefe9f;
  backdrop-filter: blur(24px);
  height: min-content;

  .navBar {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    // justify-content: space-between;
    width: 100%;

    @media only screen and (max-width: 650px) {
      justify-content: flex-end;
    }

    & ul {
      display: flex;
      flex-direction: row;
      width: 100%;
      list-style: none;
      @media only screen and (max-width: 650px) {
        position: absolute;
        top: 75px;
        left: 0;
        display: flex;
        flex-direction: column;
        background-color: #fefefe9f;
        backdrop-filter: blur(24px);
        opacity: 0;
        transform: translateX(-100%);
        transition: all 1s ease-in-out;
        overflow-y: hidden;
        &.visible {
          transform: translateX(0);
          opacity: 1;
        }
      }

      & li {
        display: flex;
        width: calc(100% / 4);
        padding: 24px 0;
        justify-content: center;
        cursor: pointer;
        &:hover {
          opacity: 0.7;
        }
        @media only screen and (max-width: 650px) {
          width: 100%;
        }
        // & a {
        //   display: flex;
        //   width: 100%;
        //   padding: 24px 0;
        //   color: inherit;
        //   font-weight: bold;
        //   text-decoration: none;
        //   justify-content: center;

        //   &:hover {
        //     opacity: 0.7;
        //   }

        // @media only screen and (max-width: 650px) {
        //   display: flex;
        //   flex-direction: column;
        // }
        // }
      }
    }
    & .menuIcon {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 24px;
      display: none;
      font-size: 1.4em;
      transition: all 0.8s ease-in-out;
      cursor: pointer;
      @media only screen and (max-width: 650px) {
        display: flex;
        &.hide {
          opacity: 0;
          transform: translate(0, rotate(-45deg));
        }
        &.visible {
          opacity: 1;
          transform: translate(0, rotate(45deg));
        }
      }
    }

    & select {
      background-color: transparent;
      color: inherit;
      font-size: 1.4em;
      font-weight: bold;
      padding: 24px 18px 24px 0;
      width: fit-content;
      margin: 0 32px;
      outline: none;
      border: none;
      box-shadow: none;
      cursor: pointer;
      background-image: url("data:image/svg+xml;charset=utf-8,<svg width='10' height='6' fill='none' xmlns='http:%2F%2Fwww.w3.org/2000/svg'><path d='M1 1l4 4 4-4' stroke='dimgray' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/></svg>");
      background-repeat: no-repeat;
      background-position-x: right;
      background-position-y: center;
      -moz-appearance: none;
      -webkit-appearance: none;
      @media only screen and (max-width: 650px) {
        margin: 0 16px;
      }
      &:hover {
        opacity: 0.7;
      }
      & option {
        max-width: min-content;
      }
    }
  }
}
